<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/record.css" />
    <link rel="stylesheet" href="../styles/contract.css" />
    <script src="../scripts/tools.js" defer></script>
    <title>Atlas</title>
</head>

<body>
    <nav>
        <ul>
            <div>
                <li>
                    <a href="/">
                        <h1>atlas.</h1>
                    </a>
                </li>
            </div>
            <div class="flex">
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </div>
        </ul>
    </nav>
    <main>
        <div id="modal" class="modal">
            <div class="modal-content">
                <img src="../images/question.png" alt="Question">
                <h3>Are you sure that all of the information on the Agreement are correct?</h3>
                <div class="submit_area">
                    <button id="no">No</button>
                    <button id="yes">Yes</button>
                </div>
            </div>
        </div>
        <h2>Loan Agreement</h2>
        <!-- <i onclick="enable()"><img src="../images/pencil.png" /></i> -->
        <form id="loanForm" method="POST" action="/submitLoan">
            <div class="firstgroup">
                <div class="contract_element">
                    <label for="borrower">Borrower: </label><br /><br>
                    <input type="text" id="borrower" name="borrower" value=<%=borrower %> />
                </div>
                <div class="contract_element">
                    <label for="lender">Lender: </label><br /><br>
                    <input type="text" id="lender" name="lender" value="Brian" />
                </div>
                <div class="contract_element">
                    <label for="interest">Interest: </label><br /><br>
                    <input type="text" id="interest" name="interest" value=<%=interest %> />
                </div>
                <div class="contract_element">
                    <label for="amount">Amount: </label><br /><br>
                    <input type="text" id="amount" name="amount" value=<%=amount %> />
                </div>
            </div>
            <div class="contract_element">
                <label for="duedate">Due Date: </label><br />
                <input type="date" id="duedate" name="duedate" value=<%=dueDate %> />
            </div>
            <input type="reset" value="Reset" />
        </form>
        <button id="submitBtn">Submit</button>
    </main>

    <footer>
        <p>Copyright Atlas &#169; 2022</p>
    </footer>
</body>

</html>