<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/thankyou.css">
    <title>Atlas</title>
</head>

<body>
    <nav>
        <ul>
            <div>
                <li>
                    <a href="/">
                        <h1>atlas.</h1>
                    </a>
                </li>
            </div>
            <div class="flex">
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </div>
        </ul>
    </nav>
    <main>
        <a href="/"><img class="close" src="../images/close.png" alt="close"></a>
        <h2>Your Loan has been Secured!</h2>
        <img class="congrats" src="../images/congrats.png" alt="congratz">
        <p>Thanks for using Atlas.</p>
    </main>
    <footer>
        <p>Copyright Atlas &#169; 2022</p>
    </footer>
</body>

</html>