@import './basics.scss';
@import './record.scss';

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: $pageBackground;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    @include rubikDefault(15px);
}

main {
    height: 70%;
    background-color: $mainBackground;
    mix-blend-mode: normal;
    border-radius: 20px;
    margin: 0 250px;
    padding: 20px 200px;
    h2 {
        font-size: 50px;
        margin: 20px 0 0 10px;
    }
    .example {
        margin-top: 30px;
        font-weight: 600;
    }
    .example_desc {
        margin-bottom: 40px;
    }
    .small_font {
        font-size: 12px;
    }
    .span {
        color: $textHighlight;
        font-weight: bold;
    }
    text-align: center;
    .error_msg {
        color: $red;
        display: none;
        font-size: 10px;
        margin: -4px 0;
    }
    button {
        @include defaultButton();
    }
    a {
        text-decoration: none;
        font-family: $rubik;
        color: $textColor;
    }
}

.image {
    position: relative;
}
img {
    position: absolute;
    bottom: -22px;
    right: 260px;
    width: 150px;
    height: auto;
}

nav {
    ul {
        @include ulSetup();
        @include flexCenter();
    }
    li a {
        font-size: 20px;
        color: $textHighlight;
        text-align: center;
        padding: 0 16px;
        text-decoration: none;
    }
    .flex {
        @include flexCenter();
        justify-content: end;
        margin-left: auto;
    }
    h1 {
        @include robotoDefault(40px);
    }
    margin: -30px 70px -30px 10px;
}

footer {
    @include flexCenter();
    position: absolute;
    bottom: 10px;
    width: 100%;
}